nav {
    background-color: #2b2b2b; /* Dark background */
    padding: 10px 20px; /* Padding for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Position navbar relative for absolute positioning */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem; /* Font size for links */
    transition: color 0.3s ease;
    margin-right: 20px; /* Space between links */
  }
  
  a:hover {
    color: #ffcc00; /* Hover color */
  }
  
  .home-link {
    color: #fff; /* Home link color */
    font-size: 1.6rem; /* Larger font size for home link */
    font-weight: bold; /* Bold font weight */
    margin-right: auto; /* Pushes the home link to the left */
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
  }
  .nav-cont{
    position: relative;
  }